<div class="hero-unit">
	<h1>Carrboro Abstract</h1>
	<p>
		You have found the webpage for Carrboro's Abstract Artist Pop-up Collective!
	</p>
	<p>
			<%= link_to "Sign Up Now!", "#", class: "btn btn-success btn-large" %>
	</p>
</div>